<br>

# Working with a real world data-set using SQL and Python

## Table Content

*   Understand the dataset for Chicago Public School level performance.
*   Store the dataset MySQL database on local instance.
*   Retrieve metadata about tables and columns and query data from mixed case columns.
*   Solve example problems to practice SQL skills including using built-in database functions.

### Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal:<br> [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: 
[https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE:** These datasets have been modified for this poject.<br>
Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from these links:<br>
[Chicago Census Data](https://raw.githubusercontent.com/Indravasini-Maurya/Analytics/Insight/ChicagoCensusData.csv "Download")<br>
[Chicago Crime Data](https://raw.githubusercontent.com/Indravasini-Maurya/Analytics/Insight/ChicagoCrimeData.csv "Download")<br>
[Chicago School Data](https://raw.githubusercontent.com/Indravasini-Maurya/Analytics/Insight/ChicagoPublicSchools.csv "Download")<br>

### Connect to the database

In [69]:
# These libraries have to be installed to establish the connection: 
# !pip install mysql-connector-python==8.0.30
# !pip install ipython-sql

In [71]:
# Let us now load the ipython-sql extension and establish a connection with the database:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Enter the connection string for your MySQL Database instance below:<br>
%sql mysql://username:password@hostname/databasename

In [73]:
%sql mysql://root:7890@localhost/chicago_school_crimes

#### Query the database to retrieve table metadata:

**Let us verify that the list of all tables have been retrieved..**

In [74]:
# query to retrieve all Table names.
%sql show tables;

 * mysql://root:***@localhost/chicago_school_crimes
3 rows affected.

[('chicago_census_data',),
 ('chicago_crime_data',),
 ('chicago_public_schools',)]

**Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.**

In [5]:
# query to retrieve all column names in the SCHOOLS table along with their datatypes and length.
%sql SELECT COLUMN_NAME as 'Column Name', data_TYPE as 'Data Type', LENGTH(COLUMN_NAME) AS Length FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = Database() AND TABLE_NAME = 'chicago_public_schools';

 * mysql://root:***@localhost/chicago_school_crimes
78 rows affected.

[('10th Grade PLAN (2009)', 'text', 22),
 ('10th Grade PLAN (2010)', 'text', 22),
 ('11th Grade Average ACT (2011)', 'text', 29),
 ('9th Grade EXPLORE (2009)', 'text', 24),
 ('9th Grade EXPLORE (2010)', 'text', 24),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'text', 30),
 ('AVERAGE_STUDENT_ATTENDANCE', 'text', 26),
 ('AVERAGE_TEACHER_ATTENDANCE', 'text', 26),
 ('CITY', 'text', 4),
 ('COLLABORATIVE_NAME', 'text', 18),
 ('COLLEGE_ELIGIBILITY__', 'text', 21),
 ('COLLEGE_ENROLLMENT', 'int', 18),
 ('COLLEGE_ENROLLMENT_RATE__', 'text', 25),
 ('COMMUNITY_AREA_NAME', 'text', 19),
 ('COMMUNITY_AREA_NUMBER', 'int', 21),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'text', 28),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'text', 29),
 ('Elementary_Middle_High_School', 'text', 29),
 ('ENVIRONMENT_ICON', 'text', 16),
 ('ENVIRONMENT_SCORE', 'int', 17),
 ('FAMILY_INVOLVEMENT_ICON', 'text', 23),
 ('FAMILY_INVOLVEMENT_SCORE', 'text', 24),
 ('FRESHMAN_ON_TRACK_RATE__', 'text', 24),
 ('GENERAL_SERVICES_ROUTE', 'int', 22),
 ('GR3_5_GRADE_LEVEL_MATH__', 'text', 24),
 ('GR3_5_GRADE_LEVEL_READ__', 'text', 24),
 ('GR3_5_KEEP_PACE_MATH__', 'text', 22),
 ('GR3_5_KEEP_PACE_READ__', 'text', 22),
 ('GR6_8_GRADE_LEVEL_MATH__', 'text', 24),
 ('GR6_8_GRADE_LEVEL_READ__', 'text', 24),
 ('GR6_8_KEEP_PACE_MATH_', 'text', 21),
 ('GR6_8_KEEP_PACE_READ__', 'text', 22),
 ('GR_8_EXPLORE_MATH__', 'text', 19),
 ('GR_8_EXPLORE_READ__', 'text', 19),
 ('GRADUATION_RATE__', 'text', 17),
 ('HEALTHY_SCHOOL_CERTIFIED', 'text', 24),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'text', 48),
 ('INSTRUCTION_ICON', 'text', 16),
 ('INSTRUCTION_SCORE', 'int', 17),
 ('ISAT_EXCEEDING_MATH__', 'text', 21),
 ('ISAT_EXCEEDING_READING__', 'text', 24),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'text', 25),
 ('ISAT_VALUE_ADD_COLOR_READ', 'text', 25),
 ('ISAT_VALUE_ADD_MATH', 'text', 19),
 ('ISAT_VALUE_ADD_READ', 'text', 19),
 ('LATITUDE', 'double', 8),
 ('LEADERS_ICON', 'text', 12),
 ('LEADERS_SCORE', 'text', 13),
 ('LINK', 'text', 4),
 ('LOCATION', 'text', 8),
 ('LONGITUDE', 'text', 9),
 ('NAME_OF_SCHOOL', 'text', 14),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'text', 27),
 ('NET_CHANGE_PLAN_AND_ACT', 'text', 23),
 ('NETWORK_MANAGER', 'text', 15),
 ('PARENT_ENGAGEMENT_ICON', 'text', 22),
 ('PARENT_ENGAGEMENT_SCORE', 'int', 23),
 ('PARENT_ENVIRONMENT_ICON', 'text', 23),
 ('PARENT_ENVIRONMENT_SCORE', 'int', 24),
 ('PHONE_NUMBER', 'text', 12),
 ('PK_2_LITERACY__', 'text', 15),
 ('PK_2_MATH__', 'text', 11),
 ('POLICE_DISTRICT', 'int', 15),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'double', 38),
 ('SAFETY_ICON', 'text', 11),
 ('SAFETY_SCORE', 'int', 12),
 ('STATE', 'text', 5),
 ('STREET_ADDRESS', 'text', 14),
 ('STUDENTS_PASSING__ALGEBRA__', 'text', 27),
 ('STUDENTS_TAKING__ALGEBRA__', 'text', 26),
 ('TEACHERS_ICON', 'text', 13),
 ('TEACHERS_SCORE', 'text', 14),
 ('TRACK_SCHEDULE', 'text', 14),
 ('WARD', 'int', 4),
 ('X_COORDINATE', 'double', 12),
 ('Y_COORDINATE', 'double', 12),
 ('ZIP_CODE', 'int', 8),
 ('ï»¿SCHOOL_ID', 'int', 15)]

In [6]:
# query to retrieve the number of columns in the SCHOOLS table.
%sql select count(*) as No_of_Columns from information_schema.columns where table_name='chicago_public_schools';

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[(78,)]

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

In [7]:
# Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
%sql SELECT table_name, column_name from information_schema.columns WHERE column_name LIKE '%ID' AND TABLE_schema = 'CHICAGO_school_crimes';

 * mysql://root:***@localhost/chicago_school_crimes
2 rows affected.

[('chicago_crime_data', 'ï»¿ID'), ('chicago_public_schools', 'ï»¿SCHOOL_ID')]

In [8]:
# What is the name of "Community Area Name" column in your table? Does it have spaces?
%sql SELECT table_name, column_name, length(column_name) as 'Space Count' from information_schema.columns WHERE column_name like '%Area_name%' AND TABLE_schema = 'CHICAGO_school_crimes';

 * mysql://root:***@localhost/chicago_school_crimes
2 rows affected.

[('chicago_census_data', 'COMMUNITY_AREA_NAME', 19),
 ('chicago_public_schools', 'COMMUNITY_AREA_NAME', 19)]

In [9]:
# Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "_"?
%sql SELECT table_name, column_name from information_schema.columns WHERE  column_name like '%\_%' AND TABLE_schema = 'CHICAGO_school_crimes';

 * mysql://root:***@localhost/chicago_school_crimes
81 rows affected.

[('chicago_census_data', 'COMMUNITY_AREA_NAME'),
 ('chicago_census_data', 'HARDSHIP_INDEX'),
 ('chicago_census_data', 'PER_CAPITA_INCOME'),
 ('chicago_census_data', 'PERCENT_AGED_16__UNEMPLOYED'),
 ('chicago_census_data', 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA'),
 ('chicago_census_data', 'PERCENT_AGED_UNDER_18_OR_OVER_64'),
 ('chicago_census_data', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY'),
 ('chicago_census_data', 'PERCENT_OF_HOUSING_CROWDED'),
 ('chicago_census_data', 'ï»¿COMMUNITY_AREA_NUMBER'),
 ('chicago_crime_data', 'CASE_NUMBER'),
 ('chicago_crime_data', 'COMMUNITY_AREA_NUMBER'),
 ('chicago_crime_data', 'LOCATION_DESCRIPTION'),
 ('chicago_crime_data', 'PRIMARY_TYPE'),
 ('chicago_crime_data', 'X_COORDINATE'),
 ('chicago_crime_data', 'Y_COORDINATE'),
 ('chicago_public_schools', 'ADEQUATE_YEARLY_PROGRESS_MADE_'),
 ('chicago_public_schools', 'AVERAGE_STUDENT_ATTENDANCE'),
 ('chicago_public_schools', 'AVERAGE_TEACHER_ATTENDANCE'),
 ('chicago_public_schools', 'COLLABORATIVE_NAME'),
 ('chicago_public_schools', 'COLLEGE_ELIGIBILITY__'),
 ('chicago_public_schools', 'COLLEGE_ENROLLMENT'),
 ('chicago_public_schools', 'COLLEGE_ENROLLMENT_RATE__'),
 ('chicago_public_schools', 'COMMUNITY_AREA_NAME'),
 ('chicago_public_schools', 'COMMUNITY_AREA_NUMBER'),
 ('chicago_public_schools', 'CPS_PERFORMANCE_POLICY_LEVEL'),
 ('chicago_public_schools', 'CPS_PERFORMANCE_POLICY_STATUS'),
 ('chicago_public_schools', 'Elementary_Middle_High_School'),
 ('chicago_public_schools', 'ENVIRONMENT_ICON'),
 ('chicago_public_schools', 'ENVIRONMENT_SCORE'),
 ('chicago_public_schools', 'FAMILY_INVOLVEMENT_ICON'),
 ('chicago_public_schools', 'FAMILY_INVOLVEMENT_SCORE'),
 ('chicago_public_schools', 'FRESHMAN_ON_TRACK_RATE__'),
 ('chicago_public_schools', 'GENERAL_SERVICES_ROUTE'),
 ('chicago_public_schools', 'GR3_5_GRADE_LEVEL_MATH__'),
 ('chicago_public_schools', 'GR3_5_GRADE_LEVEL_READ__'),
 ('chicago_public_schools', 'GR3_5_KEEP_PACE_MATH__'),
 ('chicago_public_schools', 'GR3_5_KEEP_PACE_READ__'),
 ('chicago_public_schools', 'GR6_8_GRADE_LEVEL_MATH__'),
 ('chicago_public_schools', 'GR6_8_GRADE_LEVEL_READ__'),
 ('chicago_public_schools', 'GR6_8_KEEP_PACE_MATH_'),
 ('chicago_public_schools', 'GR6_8_KEEP_PACE_READ__'),
 ('chicago_public_schools', 'GR_8_EXPLORE_MATH__'),
 ('chicago_public_schools', 'GR_8_EXPLORE_READ__'),
 ('chicago_public_schools', 'GRADUATION_RATE__'),
 ('chicago_public_schools', 'HEALTHY_SCHOOL_CERTIFIED'),
 ('chicago_public_schools', 'INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE'),
 ('chicago_public_schools', 'INSTRUCTION_ICON'),
 ('chicago_public_schools', 'INSTRUCTION_SCORE'),
 ('chicago_public_schools', 'ISAT_EXCEEDING_MATH__'),
 ('chicago_public_schools', 'ISAT_EXCEEDING_READING__'),
 ('chicago_public_schools', 'ISAT_VALUE_ADD_COLOR_MATH'),
 ('chicago_public_schools', 'ISAT_VALUE_ADD_COLOR_READ'),
 ('chicago_public_schools', 'ISAT_VALUE_ADD_MATH'),
 ('chicago_public_schools', 'ISAT_VALUE_ADD_READ'),
 ('chicago_public_schools', 'LEADERS_ICON'),
 ('chicago_public_schools', 'LEADERS_SCORE'),
 ('chicago_public_schools', 'NAME_OF_SCHOOL'),
 ('chicago_public_schools', 'NET_CHANGE_EXPLORE_AND_PLAN'),
 ('chicago_public_schools', 'NET_CHANGE_PLAN_AND_ACT'),
 ('chicago_public_schools', 'NETWORK_MANAGER'),
 ('chicago_public_schools', 'PARENT_ENGAGEMENT_ICON'),
 ('chicago_public_schools', 'PARENT_ENGAGEMENT_SCORE'),
 ('chicago_public_schools', 'PARENT_ENVIRONMENT_ICON'),
 ('chicago_public_schools', 'PARENT_ENVIRONMENT_SCORE'),
 ('chicago_public_schools', 'PHONE_NUMBER'),
 ('chicago_public_schools', 'PK_2_LITERACY__'),
 ('chicago_public_schools', 'PK_2_MATH__'),
 ('chicago_public_schools', 'POLICE_DISTRICT'),
 ('chicago_public_schools', 'RATE_OF_MISCONDUCTS__PER_100_STUDENTS_'),
 ('chicago_public_schools', 'SAFETY_ICON'),
 ('chicago_public_schools', 'SAFETY_SCORE'),
 ('chicago_public_schools', 'STREET_ADDRESS'),
 ('chicago_public_schools', 'STUDENTS_PASSING__ALGEBRA__'),
 ('chicago_public_schools', 'STUDENTS_TAKING__ALGEBRA__'),
 ('chicago_public_schools', 'TEACHERS_ICON'),
 ('chicago_public_schools', 'TEACHERS_SCORE'),
 ('chicago_public_schools', 'TRACK_SCHEDULE'),
 ('chicago_public_schools', 'X_COORDINATE'),
 ('chicago_public_schools', 'Y_COORDINATE'),
 ('chicago_public_schools', 'ZIP_CODE'),
 ('chicago_public_schools', 'ï»¿SCHOOL_ID')]

In [10]:
# Columns Name with 'spaces':
%sql SELECT table_name, column_name from information_schema.columns WHERE  column_name like '% %' AND TABLE_schema = 'CHICAGO_school_crimes';

 * mysql://root:***@localhost/chicago_school_crimes
5 rows affected.

[('chicago_public_schools', '10th Grade PLAN (2009)'),
 ('chicago_public_schools', '10th Grade PLAN (2010)'),
 ('chicago_public_schools', '11th Grade Average ACT (2011)'),
 ('chicago_public_schools', '9th Grade EXPLORE (2009)'),
 ('chicago_public_schools', '9th Grade EXPLORE (2010)')]

In [11]:
%sql desc chicago_census_data;

 * mysql://root:***@localhost/chicago_school_crimes
9 rows affected.

[('ï»¿COMMUNITY_AREA_NUMBER', 'int', 'YES', '', None, ''),
 ('COMMUNITY_AREA_NAME', 'text', 'YES', '', None, ''),
 ('PERCENT_OF_HOUSING_CROWDED', 'double', 'YES', '', None, ''),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'double', 'YES', '', None, ''),
 ('PERCENT_AGED_16__UNEMPLOYED', 'double', 'YES', '', None, ''),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'double', 'YES', '', None, ''),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'double', 'YES', '', None, ''),
 ('PER_CAPITA_INCOME', 'int', 'YES', '', None, ''),
 ('HARDSHIP_INDEX', 'int', 'YES', '', None, '')]

In [12]:
%sql desc chicago_crime_data;

 * mysql://root:***@localhost/chicago_school_crimes
21 rows affected.

[('ï»¿ID', 'int', 'YES', '', None, ''),
 ('CASE_NUMBER', 'text', 'YES', '', None, ''),
 ('DATE', 'text', 'YES', '', None, ''),
 ('BLOCK', 'text', 'YES', '', None, ''),
 ('IUCR', 'int', 'YES', '', None, ''),
 ('PRIMARY_TYPE', 'text', 'YES', '', None, ''),
 ('DESCRIPTION', 'text', 'YES', '', None, ''),
 ('LOCATION_DESCRIPTION', 'text', 'YES', '', None, ''),
 ('ARREST', 'text', 'YES', '', None, ''),
 ('DOMESTIC', 'text', 'YES', '', None, ''),
 ('BEAT', 'int', 'YES', '', None, ''),
 ('DISTRICT', 'int', 'YES', '', None, ''),
 ('WARD', 'int', 'YES', '', None, ''),
 ('COMMUNITY_AREA_NUMBER', 'int', 'YES', '', None, ''),
 ('FBICODE', 'int', 'YES', '', None, ''),
 ('X_COORDINATE', 'int', 'YES', '', None, ''),
 ('Y_COORDINATE', 'int', 'YES', '', None, ''),
 ('YEAR', 'int', 'YES', '', None, ''),
 ('LATITUDE', 'double', 'YES', '', None, ''),
 ('LONGITUDE', 'text', 'YES', '', None, ''),
 ('LOCATION', 'text', 'YES', '', None, '')]

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [13]:
%sql select * from chicago_public_schools LIMIT 2;

 * mysql://root:***@localhost/chicago_school_crimes
2 rows affected.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', 56, 'Average', 47, '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', '69.7', '64.4', '0.2', '0.9', 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, "'-87.64452163", 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Weak', '63', 'Strong', '76', 'Weak', 46, 'Average', 50, '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', '16.8', '16.5', '0.7', '1.4', 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, "'-87.55673627", 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)')]

In [14]:
%sql select count(*) from chicago_public_schools;

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[(391,)]

%%sql
LOAD DATA INFILE 'D:\\Data\\sql tables\\chicago public school.csv'
INTO TABLE chicago_public_schools
FIELDS TERMINATED BY ','
IGNORE 1 ROWS;

In [15]:
%sql select Elementary_Middle_High_School as SCHOOL_TYPE, COUNT(*) AS 'TOTAL NUMBER OF SCHOOL' from chicago_public_schools GROUP BY Elementary_Middle_High_School;

 * mysql://root:***@localhost/chicago_school_crimes
3 rows affected.

[('ES', 350), ('HS', 35), ('MS', 6)]

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [16]:
%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from chicago_public_schools;

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[(99,)]

### Problem 3

##### Which schools have highest Safety Score?
there are two syntax can be form - %sql select Name_of_School, Safety_Score from chicago_public_schools where Safety_Score = 99

In [17]:
%%sql 
select Name_of_School, Safety_Score from chicago_public_schools 
where Safety_Score= (select MAX(Safety_Score) from chicago_public_schools);

 * mysql://root:***@localhost/chicago_school_crimes
17 rows affected.

[('Abraham Lincoln Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [18]:
%%sql 
select Name_of_School, Average_Student_Attendance from chicago_public_schools
order by Average_Student_Attendance desc limit 10;

 * mysql://root:***@localhost/chicago_school_crimes
10 rows affected.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%'),
 ('Albany Park Multicultural Academy', '97.00%'),
 ('Frank W Reilly Elementary School', '97.00%')]

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [19]:
%%sql 
SELECT Name_of_School, Average_Student_Attendance from chicago_public_schools
order by Average_Student_Attendance limit 5;

 * mysql://root:***@localhost/chicago_school_crimes
5 rows affected.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('William Rainey Harper High School', '73.00%'),
 ('William J Bogan High School', '75.20%'),
 ('John Hancock College Preparatory High School', '78.20%'),
 ('Edward Tilden Career Community Academy High School', '78.40%')]

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [20]:
%%sql 
SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') as Avg_student_attendance from chicago_public_schools
order by Average_Student_Attendance limit 5;

 * mysql://root:***@localhost/chicago_school_crimes
5 rows affected.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('William Rainey Harper High School', '73.00'),
 ('William J Bogan High School', '75.20'),
 ('John Hancock College Preparatory High School', '78.20'),
 ('Edward Tilden Career Community Academy High School', '78.40')]

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [21]:
%%sql 
SELECT Name_of_School, Average_Student_Attendance from chicago_public_schools
where CAST(Average_Student_Attendance AS DOUBLE) < 70 
order by Average_Student_Attendance;

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[('Richard T Crane Technical Preparatory High School', '57.90%')]

### Problem 8

##### Get the total College Enrollment for each Community Area

In [22]:
%%sql 
select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT from chicago_public_schools
group by Community_Area_Name;

 * mysql://root:***@localhost/chicago_school_crimes
73 rows affected.

[('LINCOLN PARK', Decimal('2187')),
 ('SOUTH SHORE', Decimal('2654')),
 ('ASHBURN', Decimal('6483')),
 ('NEW CITY', Decimal('7922')),
 ('ARMOUR SQUARE', Decimal('1458')),
 ('ALBANY PARK', Decimal('4135')),
 ('NORTH CENTER', Decimal('1975')),
 ('LAKE VIEW', Decimal('6326')),
 ('WEST TOWN', Decimal('5413')),
 ('ROSELAND', Decimal('3872')),
 ('HUMBOLDT PARK', Decimal('5423')),
 ('BEVERLY', Decimal('1636')),
 ('NORTH LAWNDALE', Decimal('2767')),
 ('LOGAN SQUARE', Decimal('6392')),
 ('ENGLEWOOD', Decimal('4106')),
 ('WOODLAWN', Decimal('2411')),
 ('WEST ENGLEWOOD', Decimal('5391')),
 ('MOUNT GREENWOOD', Decimal('1182')),
 ('GRAND BOULEVARD', Decimal('2211')),
 ('SOUTH CHICAGO', Decimal('2893')),
 ('DUNNING', Decimal('4066')),
 ('AVALON PARK', Decimal('689')),
 ('BELMONT CRAGIN', Decimal('8456')),
 ('WASHINGTON PARK', Decimal('2330')),
 ('KENWOOD', Decimal('748')),
 ('HYDE PARK', Decimal('1930')),
 ('SOUTH DEERING', Decimal('1488')),
 ('CHATHAM', Decimal('2012')),
 ('BRIGHTON PARK', Decimal('6073')),
 ('AVONDALE', Decimal('3640')),
 ('SOUTH LAWNDALE', Decimal('9232')),
 ('WASHINGTON HEIGHTS', Decimal('2780')),
 ('BRIDGEPORT', Decimal('1783')),
 ('GREATER GRAND CROSSING', Decimal('2594')),
 ('WEST GARFIELD PARK', Decimal('2307')),
 ('EDISON PARK', Decimal('650')),
 ('AUBURN GRESHAM', Decimal('3391')),
 ('CHICAGO LAWN', Decimal('4705')),
 ('WEST RIDGE', Decimal('3892')),
 ('EAST SIDE', Decimal('3781')),
 ('PULLMAN', Decimal('999')),
 ('FOREST GLEN', Decimal('882')),
 ('NORWOOD PARK', Decimal('3387')),
 ('NEAR NORTH SIDE', Decimal('1517')),
 ('AUSTIN', Decimal('8198')),
 ('WEST LAWN', Decimal('1703')),
 ('WEST PULLMAN', Decimal('2042')),
 ('LINCOLN SQUARE', Decimal('4132')),
 ('GAGE PARK', Decimal('5407')),
 ('PORTAGE PARK', Decimal('4191')),
 ('MORGAN PARK', Decimal('1483')),
 ('ROGERS PARK', Decimal('2486')),
 ('MCKINLEY PARK', Decimal('389')),
 ('WEST ELSDON', Decimal('2527')),
 ('NEAR WEST SIDE', Decimal('5920')),
 ('EDGEWATER', Decimal('2547')),
 ('RIVERDALE', Decimal('1015')),
 ('UPTOWN', Decimal('997')),
 ('IRVING PARK', Decimal('4600')),
 ('NORTH PARK', Decimal('2574')),
 ('BURNSIDE', Decimal('549')),
 ('LOWER WEST SIDE', Decimal('4009')),
 ('JEFFERSON PARK', Decimal('574')),
 ('DOUGLAS', Decimal('1133')),
 ('EAST GARFIELD PARK', Decimal('3050')),
 ('HERMOSA', Decimal('1861')),
 ('CLEARING', Decimal('1948')),
 ('GARFIELD RIDGE', Decimal('2963')),
 ('MONTCLARE', Decimal('1317')),
 ('CALUMET HEIGHTS', Decimal('802')),
 ('NEAR SOUTH SIDE', Decimal('1378')),
 ('ARCHER HEIGHTS', Decimal('1503')),
 ('FULLER PARK', Decimal('307'))]

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [23]:
%%sql 
select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT from chicago_public_schools
group by Community_Area_Name
order by TOTAL_ENROLLMENT asc LIMIT 5;

 * mysql://root:***@localhost/chicago_school_crimes
5 rows affected.

[('FULLER PARK', Decimal('307')),
 ('MCKINLEY PARK', Decimal('389')),
 ('BURNSIDE', Decimal('549')),
 ('JEFFERSON PARK', Decimal('574')),
 ('EDISON PARK', Decimal('650'))]

### Problem 10

##### List 5 schools with lowest safety score.

In [24]:
%sql SELECT name_of_school, safety_score FROM chicago_public_schools ORDER BY safety_score LIMIT 5;

 * mysql://root:***@localhost/chicago_school_crimes
5 rows affected.

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('John Fiske Elementary School', 13)]

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 468

In [25]:
%%sql
SELECT chicago_CENSUS_data.COMMUNITY_AREA_NAME, chicago_CENSUS_data.HARDSHIP_INDEX, chicago_public_schools.COLLEGE_ENROLLMENT 
FROM chicago_CENSUS_data
INNER JOIN chicago_public_schools
ON chicago_CENSUS_data.COMMUNITY_AREA_NAME = chicago_public_schools.COMMUNITY_AREA_NAME
WHERE chicago_public_schools.COLLEGE_ENROLLMENT = 468;

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[('Forest Glen', 11, 468)]

### Problem 12

##### Get the hardship index for the community area which has the school with the  highest enrollment.

In [26]:
%%sql
SELECT chicago_CENSUS_data.COMMUNITY_AREA_NAME, chicago_CENSUS_data.HARDSHIP_INDEX, chicago_public_schools.COLLEGE_ENROLLMENT 
FROM chicago_CENSUS_data
INNER JOIN chicago_public_schools
ON chicago_CENSUS_data.COMMUNITY_AREA_NAME = chicago_public_schools.COMMUNITY_AREA_NAME
ORDER BY chicago_public_schools.COLLEGE_ENROLLMENT DESC LIMIT 1;

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[('Near West Side', 15, 2166)]

### Problem 13

##### Find the total number of crimes recorded in the CRIME table.

In [27]:
%sql SELECT COUNT(CASE_NUMBER) as Total_Crime_Cases FROM CHICAGO_CRIME_DATA;

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[(353,)]

### Problem 14

##### List community areas with per capita income less than 11000.

In [28]:
%sql select community_area_name, PER_CAPITA_INCOME from chicago_census_data where per_capita_income < 11000;

 * mysql://root:***@localhost/chicago_school_crimes
4 rows affected.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 15

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [29]:
%sql select case_number, description from chicago_crime_data where description like '%Minor%';

 * mysql://root:***@localhost/chicago_school_crimes
2 rows affected.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 16

##### List all kidnapping crimes involving a child?

In [30]:
%%sql
select * from chicago_crime_data where primary_type = 'kidnapping' and description like '%child%';

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', 1792, 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, 20, 1143050, 1897546, 2007, 41.87490841, "'-87.75024931", '(41.874908413, -87.750249307)')]

### Problem 17

##### What kinds of crimes were recorded at schools?

In [31]:
%%sql
select case_number, primary_type, description, location_description 
from chicago_crime_data where location_description like '%school%';

 * mysql://root:***@localhost/chicago_school_crimes
4 rows affected.

[('HS200939', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HK577020', 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS305355', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('HR585012', 'CRIMINAL TRESPA', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS')]

### Problem 18

##### List the average safety score for all types of schools.

In [32]:
%%sql
select Elementary_Middle_High_School, round(avg(safety_score)) from chicago_public_schools 
group by Elementary_Middle_High_School;

 * mysql://root:***@localhost/chicago_school_crimes
3 rows affected.

[('ES', Decimal('49')), ('HS', Decimal('57')), ('MS', Decimal('53'))]

### Problem 19

##### List 5 community areas with highest % of households below poverty line

In [33]:
%%sql
select community_area_name, PERCENT_HOUSEHOLDS_BELOW_POVERTY 
from chicago_census_data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5;

 * mysql://root:***@localhost/chicago_school_crimes
5 rows affected.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 20

##### Which community area is most crime prone?

In [34]:
%%sql
select community_area_number from chicago_crime_data
group by community_area_number order by count(community_area_number) desc limit 1;

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[(25,)]

### Problem 21

##### Use a sub-query to find the name of the community area with highest hardship index

In [35]:
%%sql
select community_area_name, Hardship_index from chicago_census_data 
where hardship_index = (select max(hardship_index) from chicago_census_data);

 * mysql://root:***@localhost/chicago_school_crimes
1 rows affected.

[('Riverdale', 98)]

### Problem 22

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [68]:
%%sql 
select community_area_name, COMMUNITY_AREA_NUMBER from chicago_public_schools 
where COMMUNITY_AREA_NUMBER in 
(select community_area_number from chicago_crime_data) group by community_area_number 
order by count(community_area_number) desc limit 2;

 * mysql://root:***@localhost/chicago_school_crimes
2 rows affected.

[('AUSTIN', 25), ('SOUTH LAWNDALE', 30)]

**End of Project**